@font-face {
    font-family: 'Good Vibes Pro';
    src: local('Good Vibes Pro'), local('GoodVibesPro'),
        url('GoodVibesPro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Forum';
    src: local('Forum'),
        url('Forum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
